/* Import de la police Figtree depuis Google Fonts */
@font-face {
    font-family: 'figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --white: hsl(0, 0%, 100%);
    --radius: 10px;
    --font-size-base: 16px;
    --padding: 20px;
    --margin: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'figtree', sans-serif;
}

body {
    text-align: center;
    font-size: var(--font-size-base);
    background: var(--yellow);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.article {
    width: 100%;
    max-width: 385px;
    margin: 0 auto;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    background: var(--white);
    border: 1px solid var(--gray-500);
    border-radius: var(--radius);
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.article a {
    color: var(--gray-950);
    text-decoration: none;
    font-weight: bold;
}

.article h2 a:hover {
    color: var(--yellow);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--yellow);
    color: var(--gray-950);
    border: none;
    border-radius: var(--radius);
    text-decoration: none;
    font-weight: bold;
    margin: var(--margin) 0;
    cursor: pointer; /* Ajoute un curseur de pointeur sur le bouton */
}

.article img {
    width: 100%;
    border-radius: var(--radius);
}

.profil img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.profil {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
}

footer {
    margin-top: 50px;
}

/* Ajout des styles pour les petits écrans (responsive design) */
@media (max-width: 600px) {
    .article {
        padding: 15px;
    }
    .profil img {
        width: 40px;
        height: 40px;
    }
    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
